@media only screen and (max-width: 700px) {
  :root {
    background-color: rgb(34, 37, 37);
    color: white;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .container {
    border: 2px solid white;
    width: calc(100vw-4px);
    height: calc(100vh-4px);
    /* padding: 20px 10px 20px 10px; */
    display: grid;
    grid-template-rows: 20px 1fr 1fr;
  }

  .screen-parent {
    border: 2px blue solid;
    display: grid;
    height: calc(100%-4px);
    width: calc(100%-4px);
  }

  .panel-container {
    width: calc(100%-4px);
    border: 2px purple solid;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .panel1-parent {
    border: red 2px solid;
    height: 100%;
  }

  .panel2-parent {
    border: yellow 2px solid;
    height: 100%;
  }
}
